* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Luxurious Roman";
}

body {
    background-color: #1f0b03;
    color: #b9b0a8;

    .luxurious-roman-regular {
        font-family: "Luxurious Roman", serif;
        font-weight: 400;
        font-style: normal;
    }

    .carattere-regular {
        font-family: "Carattere", cursive;
        font-weight: 400;
        font-style: normal;
    }
}

header{
    background-image: linear-gradient(to top, #1f0b03, #3d190e);
}

h1 {
    color: #b9b0a8;
    font-size: 4.5rem;
    padding: 1.5rem;
    font-family: "Carattere";

}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

#foto {
    width: 300px;
    float: left;
    margin-right: 2rem;
    padding: 0.5rem;
    border-radius: 15px;
}

#informacoes_pessoais {
    margin: 1.5rem;
    padding: 0rem;
    display: flex;
    line-height: 1.8rem;
}



.informacoes_pessoais ul {
    color: #1d1d1b;
}

nav {
    text-align: center;
    padding: 1rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
  
}

#nav span {
    font-size: 35px;
    color: #461f12;
}

a {
    text-decoration: none;
    color: #d9dacf;
    font-size: 1.5rem;
    text-align: center;
    margin-right: 0.5rem;
}

#nav a:hover {
    text-decoration: underline;
    color: #d9dacf;
    background-color: #461f12;
    text-shadow: 2px 2px 5px #461f12;
    border-radius: 15px;
    padding: 0.5rem;
}

h3 {
    line-height: 1.7rem;
    font-size: 1.5rem;
}

#biografia {
    background: #461f12;
    box-shadow: 10px 10px 1px #3d190e;
    width: 95%;
    height: auto;
    padding: 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

#citacoes {
    background: #461f12;
    box-shadow: 10px 10px 1px #3d190e;
    width: 95%;
    height: auto;
    padding: 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

q {
    font-size: 1.2rem;
}

#obras_publicadas {
    background: #461f12;
    box-shadow: 10px 10px 1px #3d190e;
    width: 95%;
    height: auto;
    padding: 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
}

ul {
    font-size: 1.2rem;
}

#contato_historico {
    text-align: center;
    padding: 1.5rem;
    background-image: linear-gradient(to bottom, #1f0b03, #3d190e, #3d190e);
    width: 100;
    height: 13rem;
    line-height: 1.8rem;
}


@media (max-width: 600px) {

    header h1 {
        font-size: 2rem; 
    }

    .informacoes_pessoais ul {
        display: block; 
        margin: 10px 0; 
    }

    body {
        margin: 1rem auto; 
        padding: 1rem; 
    }
    
    .container-principal { 
        display: flex;
        flex-direction: column; 
        align-items: center;
   }

}

